.helpPageHeader {
  text-align: center;
}

.contentStyles {
  display: inline-flex;
  font-size: 2rem;
  justify-content: space-between;
  padding: 0.25em 0 0 0.25em;
}

.col1 {
  width: 45%;
}

.col2 {
  width: 55%;
}
.phoneNumStyles {
  display: inline-flex;
  justify-content: space-evenly;
  border: 2px solid #efe7d3;
  box-shadow: 1px 1px 12px #efe7d3;
  width: 100%;
  padding: 1.5em 1.5em;
}

.phoneTitle {
  color: blue;
  text-decoration: underline;
}
.phoneNumStyles a {
  color: black;
  text-decoration: none;
  font-size: 1.25rem;
}
