/* html {
  margin: 0px auto;
  background-color: #f8c0c8;
} */
/* Main Page Css */

html,
body {
  height: 100%;
  /* background-color: blue; */
}
.row {
  height: 100%;
}

.headerContainer {
  text-align: center;
  border-bottom: #d5dfe5 3px solid;
  margin-bottom: 1em;
}

.homePageContainer {
  /* display: flex;
  flex-direction: row;
  gap: 50px; */
  margin: 1em 1em;
}

/* .backgroundColor {
  background-color: blue;
} */

.homePageParagraph {
  border: 3px solid black;
  width: 100%;
  font-size: 1.25rem;
  padding: 1em;
}

.homePageImage {
  /* height: 100%; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
/* 
.navBar {
  font-size: 25px;
  background-color: #c9b1bd;
  width: 100%;
  padding: 1em;
} */

/* Style the navigation menu */
.navbar {
  width: 100%;
  background-color: #ece3f0;
  /* overflow: auto; */
  display: flex;
  justify-content: center;
}

/* Navigation links */
.navbar a {
  padding: 1.25em;
  color: black;
  text-decoration: none;
  font-size: 17px;
  width: 25%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
  text-align: center; /* If you want the text to be centered */
}

/* Add a background color on mouse-over */
.navbar a:hover {
  background-color: #c9b1bd;
}

/* Style the current/active link */
.navbar a.active {
  background-color: #4caf50;
}

/* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left; /* If you want the text to be left-aligned on small screens */
  }
}

/* HelpPageCss */
